.card-div {
  background-color: #003049;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 60%;
  padding: 3em;
  border-radius: 2em;
  color: white;
}

#input-wrapper {
  text-align: center;
}

h3 {
  font-size: 20px;
}

#data {
  font-size: 20px;
  margin-bottom: 2em;
}
#custom-btn {
  background-color: #fca311;
  color: #003049;
  font-family: sans-serif;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: 800;
}
#custom-btn:hover {
  background-color: white;
  color: black;
}
